.thumb {
  margin-left: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #000;
  padding-left: 30px;
}

input {
  width: 200px;
}
button {
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
form button {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
form p {
  font-weight: 700;
}
li {
  margin-bottom: 15px;
}
li button {
  margin-left: 30px;
}
